tohoku/maps/*.html filter=lfs diff=lfs merge=lfs -text
tohoku/maps/*.geojson filter=lfs diff=lfs merge=lfs -text
prefectures/*/maps/*.html filter=lfs diff=lfs merge=lfs -text
prefectures/*/maps/*.geojson filter=lfs diff=lfs merge=lfs -text
